<main>
  <div class="layout-list layout-list--64px">
    <div class="layout-list__item">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Words quantity
            </div>

            <div class="layout-inline__item">
              <div class="layout-list layout-list--0px">
                <div class="layout-list__item">
                  <input
                    [class.invalid]="wordsQuantity.invalid && wordsQuantity.touched"
                    [formControl]="wordsQuantity"
                    type="number"
                    placeholder="Words quantity"
                  >
                </div>

                <div
                  *ngIf="(wordsQuantity.hasError('min') || wordsQuantity.hasError('max')) && wordsQuantity.touched"
                  class="layout-list__item validation-error"
                >
                  Should be between 3 and 20
                </div>

                <div
                  *ngIf="wordsQuantity.hasError('required') && wordsQuantity.touched"
                  class="layout-list__item validation-error"
                >
                  Can't be blank
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-inline__item">
          <button
            (click)="regenerateForm(wordsQuantity.value, form.value)"
          >
            Regenerate from
          </button>
        </div>

        <div class="layout-inline__item">
          <button
            (click)="clear()"
            #clearButton
          >
            Clear
          </button>
        </div>
      </div>
    </div>

    <div class="layout-list__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <div class="layout-inline layout-inline--wrap layout-inline--32px">
            <div
              *ngFor="let wordControl of form.controls; let i = index"
              class="layout-inline__item"
            >
              <div class="layout-inline">
                <div class="layout-inline__item">
                  Word {{ i + 1 }}
                </div>

                <div class="layout-inline__item">
                  <div class="layout-list layout-list--0px">
                    <div class="layout-list__item">
                      <input
                        [class.invalid]="wordControl.invalid && wordControl.touched"
                        [formControl]="wordControl | asFormControl"
                        type="text"
                        [placeholder]="'Type the ' + (i + 1) + ' word'"
                      >
                    </div>

                    <div
                      *ngIf="wordControl.hasError('length') && wordControl.touched"
                      class="layout-list__item validation-error"
                    >
                      Word length is not equal to others
                    </div>

                    <div
                      *ngIf="wordControl.hasError('required') && wordControl.touched"
                      class="layout-list__item validation-error"
                    >
                      Can't be blank
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-list__item">
          <button
            [disabled]="form.invalid"
            (click)="countMaxMatches()"
          >
            Count max matches
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="initialGuesses.length" class="layout-list__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <div class="layout-list">
            <div *ngFor="let matchCount of initialMatchesMap | keyvalue" class="layout-list__item">
              <div class="layout-inline">
                <div class="layout-inline__item">
                  {{ matchCount.key }}:
                </div>

                <div class="layout-inline__item">
                  {{ matchCount.value }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-list__item">
          <div class="layout-inline layout-inline--wrap">
            <div class="layout-inline__item">
              Initial guesses are:
            </div>

            <div
              *ngFor="let initialGuess of initialGuesses"
              class="layout-inline__item guess"
              (click)="selectInitialGuess(initialGuess)"
            >
              {{ initialGuess }}
            </div>

            <div class="layout-inline__item">
              {{ maxMatches }}
            </div>

            <div class="layout-inline__item">
              (You can click on the suggestion to select it)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="initialGuesses.length"
      class="layout-list__item"
    >
      <div class="layout-list">
        <div class="layout-list__item">
          First attempt result
        </div>
        <div class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Selected first attempt word
            </div>

            <div class="layout-inline__item">
              <input
                [formControl]="firstAttemptWordControl"
                type="text"
                placeholder="Type the first attempt word"
              >
            </div>
          </div>
        </div>

        <div class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              First attempt matches quantity
            </div>

            <div class="layout-inline__item">
              <input
                [formControl]="firstAttemptMatchesControl"
                type="number"
                placeholder="Type the number of matches"
              >
            </div>
          </div>
        </div>

        <div
          *ngIf="firstAttemptWordControl.value && firstAttemptMatchesControl.value !== null"
          class="layout-list__item"
        >
          <div
            *ngIf="firstAttemptGuesses.length else suggestionError"
            class="layout-inline layout-inline--wrap"
          >
            <div class="layout-inline__item">
              Next suggestions are:
            </div>

            <div
              *ngFor="let firstAttemptGuess of firstAttemptGuesses"
              class="layout-inline__item guess"
              (click)="selectSecondGuess(firstAttemptGuess)"
            >
              {{ firstAttemptGuess }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="firstAttemptMatchesControl.value !== null && initialMatchesMap[firstAttemptWordControl.value] && firstAttemptGuesses.length"
         class="layout-list__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input
            [formControl]="secondAttemptWordControl"
            type="text"
            placeholder="Type the second attempt word"
          >
        </div>

        <div class="layout-list__item">
          <input
            [formControl]="secondAttemptMatchesControl"
            type="number"
            placeholder="Type the number of matches"
          >
        </div>

        <div
          *ngIf="secondAttemptWordControl.value && secondAttemptMatchesControl.value !== null"
          class="layout-list__item"
        >
          <div
            *ngIf="secondAttemptGuesses.length else suggestionError"
            class="layout-inline layout-inline--wrap"
          >
            <div class="layout-inline__item">
              Next suggestions are:
            </div>

            <div
              *ngFor="let secondAttemptGuess of secondAttemptGuesses"
              class="layout-inline__item guess"
              (click)="selectThirdGuess(secondAttemptGuess)"
            >
              {{ secondAttemptGuess }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="secondAttemptMatchesControl.value !== null && initialMatchesMap[firstAttemptWordControl.value] && secondAttemptGuesses.length"
         class="layout-list__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input
            [formControl]="thirdAttemptWordControl"
            type="text"
            placeholder="Type the third attempt word"
          >
        </div>

        <div class="layout-list__item">
          <input
            [formControl]="thirdAttemptMatchesControl"
            type="number"
            placeholder="Type the number of matches"
          >
        </div>

        <div
          *ngIf="thirdAttemptWordControl.value && thirdAttemptMatchesControl.value !== null"
          class="layout-list__item"
        >
          <div
            *ngIf="thirdAttemptGuesses.length else suggestionError"
            class="layout-inline layout-inline--wrap"
          >
            <div class="layout-inline__item">
              Next suggestions are:
            </div>

            <div
              *ngFor="let thirdAttemptGuess of thirdAttemptGuesses"
              class="layout-inline__item guess">
              {{ thirdAttemptGuess }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="initialGuesses.length" class="layout-list__item">
      <button
        #backButton
        (click)="back()"
      >
        Back
      </button>
    </div>
  </div>
</main>

<ng-template #suggestionError>
  <div class="error">
    There are not matches, check the words spelling
  </div>
</ng-template>
