<main>
  <div class="layout-inline">
    <div class="layout-inline__item">
      <form [formGroup]="form">
        <div class="layout-list">
          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 1
              </div>

              <div class="layout-inline__item">
                <input formControlName="first" type="text" placeholder="Type the first word">
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 2
              </div>

              <div class="layout-inline__item">
                <input formControlName="second" type="text" placeholder="Type the second word">
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 3
              </div>

              <div class="layout-inline__item">
                <input formControlName="third" type="text" placeholder="Type the third word">
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 4
              </div>

              <div class="layout-inline__item">
                <input formControlName="forth" type="text" placeholder="Type the forth word">
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 5
              </div>

              <div class="layout-inline__item">
                <input formControlName="fifth" type="text" placeholder="Type the sixth word">
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 6
              </div>

              <div class="layout-inline__item">
                <input formControlName="sixth" type="text" placeholder="Type the seventh word">
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 7
              </div>

              <div class="layout-inline__item">
                <input formControlName="seventh" type="text" placeholder="Type the seventh word">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <button (click)="countMaxMatches()">Count max matches</button>
        </div>

        <div class="layout-list__item">
          <div class="layout-list">
            <div *ngFor="let matchCount of initialMatchesMap | keyvalue" class="layout-list__item">
              <div class="layout-inline">
                <div class="layout-inline__item">
                  {{ matchCount.key }}:
                </div>

                <div class="layout-inline__item">
                  {{ matchCount.value }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="initialGuesses.length" class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Initial guesses are:
            </div>

            <div
              *ngFor="let initialGuess of initialGuesses"
              class="layout-inline__item guess"
              (click)="selectInitialGuess(initialGuess)"
            >
              {{ initialGuess }}
            </div>

            <div class="layout-inline__item">
              {{ maxMatches }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="initialGuesses.length" class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input [formControl]="firstAttemptWordControl" type="text" placeholder="Type the first attempt word">
        </div>

        <div class="layout-list__item">
          <input [formControl]="firstAttemptMatchesControl" type="number" placeholder="Type the number of matches">
        </div>

        <div *ngIf="firstAttemptGuesses.length" class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Next suggestions are:
            </div>

            <div
              *ngFor="let firstAttemptGuess of firstAttemptGuesses"
              class="layout-inline__item guess"
              (click)="selectSecondGuess(firstAttemptGuess)"
            >
              {{ firstAttemptGuess }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="initialMatchesMap[firstAttemptWordControl.value] && firstAttemptMatchesControl.value !== null"
         class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input [formControl]="secondAttemptWordControl" type="text" placeholder="Type the second attempt word">
        </div>

        <div class="layout-list__item">
          <input [formControl]="secondAttemptMatchesControl" type="number" placeholder="Type the number of matches">
        </div>

        <div *ngIf="secondAttemptGuesses.length" class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Next suggestions are:
            </div>

            <div
              *ngFor="let secondAttemptGuess of secondAttemptGuesses"
              class="layout-inline__item guess"
              (click)="selectThirdGuess(secondAttemptGuess)"
            >
              {{ secondAttemptGuess }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="initialMatchesMap[firstAttemptWordControl.value] && secondAttemptMatchesControl.value !== null"
         class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input [formControl]="thirdAttemptWordControl" type="text" placeholder="Type the third attempt word">
        </div>

        <div class="layout-list__item">
          <input [formControl]="thirdAttemptMatchesControl" type="number" placeholder="Type the number of matches">
        </div>

        <div *ngIf="thirdAttemptGuesses.length" class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Next suggestions are:
            </div>

            <div
              *ngFor="let thirdAttemptGuess of thirdAttemptGuesses"
              class="layout-inline__item guess">
              {{ thirdAttemptGuess }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
