<main>
  <div class="layout-inline">
    <div class="layout-inline__item">
      <form [formGroup]="form">
        <div class="layout-list">
          <div class="layout-list__item">
            <button (click)="clear()">Clear</button>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 1
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['first'].hasError('length')"
                      formControlName="first"
                      type="text"
                      placeholder="Type the first word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['first'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['first'].hasError('required') && form.controls['first'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 2
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['second'].hasError('length')"
                      formControlName="second"
                      type="text"
                      placeholder="Type the second word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['second'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['second'].hasError('required') && form.controls['second'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 3
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['third'].hasError('length')"
                      formControlName="third"
                      type="text"
                      placeholder="Type the third word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['third'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['third'].hasError('required') && form.controls['third'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 4
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['forth'].hasError('length')"
                      formControlName="forth"
                      type="text"
                      placeholder="Type the forth word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['forth'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['forth'].hasError('required') && form.controls['forth'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 5
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['fifth'].hasError('length')"
                      formControlName="fifth"
                      type="text"
                      placeholder="Type the fifth word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['fifth'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['fifth'].hasError('required') && form.controls['fifth'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 6
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['sixth'].hasError('length')"
                      formControlName="sixth"
                      type="text"
                      placeholder="Type the sixth word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['sixth'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['sixth'].hasError('required') && form.controls['sixth'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Word 7
              </div>

              <div class="layout-inline__item">
                <div class="layout-list layout-list--0px">
                  <div class="layout-list__item">
                    <input
                      [class.invalid]="form.controls['seventh'].hasError('length')"
                      formControlName="seventh"
                      type="text"
                      placeholder="Type the seventh word"
                    >
                  </div>

                  <div
                    *ngIf="form.controls['seventh'].hasError('length')"
                    class="layout-list__item error"
                  >
                    Word length is not equal to others
                  </div>

                  <div
                    *ngIf="form.controls['seventh'].hasError('required') && form.controls['seventh'].touched"
                    class="layout-list__item error"
                  >
                    Can't be blank
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <button (click)="countMaxMatches()" [disabled]="form.invalid">
            Count max matches
          </button>
        </div>

        <div class="layout-list__item">
          <div class="layout-list">
            <div *ngFor="let matchCount of initialMatchesMap | keyvalue" class="layout-list__item">
              <div class="layout-inline">
                <div class="layout-inline__item">
                  {{ matchCount.key }}:
                </div>

                <div class="layout-inline__item">
                  {{ matchCount.value }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="initialGuesses.length" class="layout-list__item">
          <div class="layout-inline">
            <div class="layout-inline__item">
              Initial guesses are:
            </div>

            <div
              *ngFor="let initialGuess of initialGuesses"
              class="layout-inline__item guess"
              (click)="selectInitialGuess(initialGuess)"
            >
              {{ initialGuess }}
            </div>

            <div class="layout-inline__item">
              {{ maxMatches }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="initialGuesses.length" class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input [formControl]="firstAttemptWordControl" type="text" placeholder="Type the first attempt word">
        </div>

        <div class="layout-list__item">
          <input [formControl]="firstAttemptMatchesControl" type="number" placeholder="Type the number of matches">
        </div>

        <ng-container *ngIf="firstAttemptWordControl.value && firstAttemptMatchesControl.value !== null">
          <div
            *ngIf="firstAttemptGuesses.length else suggestionError"
            class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Next suggestions are:
              </div>

              <div
                *ngFor="let firstAttemptGuess of firstAttemptGuesses"
                class="layout-inline__item guess"
                (click)="selectSecondGuess(firstAttemptGuess)"
              >
                {{ firstAttemptGuess }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="firstAttemptMatchesControl.value !== null && initialMatchesMap[firstAttemptWordControl.value] && firstAttemptGuesses.length"
         class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input [formControl]="secondAttemptWordControl" type="text" placeholder="Type the second attempt word">
        </div>

        <div class="layout-list__item">
          <input [formControl]="secondAttemptMatchesControl" type="number" placeholder="Type the number of matches">
        </div>

        <ng-container *ngIf="secondAttemptWordControl.value && secondAttemptMatchesControl.value !== null">
          <div
            *ngIf="secondAttemptGuesses.length else suggestionError"
            class="layout-list__item"
          >
            <div class="layout-inline">
              <div class="layout-inline__item">
                Next suggestions are:
              </div>

              <div
                *ngFor="let secondAttemptGuess of secondAttemptGuesses"
                class="layout-inline__item guess"
                (click)="selectThirdGuess(secondAttemptGuess)"
              >
                {{ secondAttemptGuess }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="secondAttemptMatchesControl.value !== null && initialMatchesMap[firstAttemptWordControl.value] && secondAttemptGuesses.length"
         class="layout-inline__item">
      <div class="layout-list">
        <div class="layout-list__item">
          <input [formControl]="thirdAttemptWordControl" type="text" placeholder="Type the third attempt word">
        </div>

        <div class="layout-list__item">
          <input [formControl]="thirdAttemptMatchesControl" type="number" placeholder="Type the number of matches">
        </div>

        <ng-container *ngIf="thirdAttemptWordControl.value && thirdAttemptMatchesControl.value !== null">
          <div
            *ngIf="thirdAttemptGuesses.length else suggestionError"
            class="layout-list__item">
            <div class="layout-inline">
              <div class="layout-inline__item">
                Next suggestions are:
              </div>

              <div
                *ngFor="let thirdAttemptGuess of thirdAttemptGuesses"
                class="layout-inline__item guess">
                {{ thirdAttemptGuess }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>

<ng-template #suggestionError>
  <div class="error">
    There are not matches, check the words spelling
  </div>
</ng-template>
